In [1]:
2+1

3

In [2]:
2-1

1

3/2

In [3]:
2+2

4

In [4]:
3/2

1.5

In [5]:
7/4

1.75

In [6]:
Checks the remainder 7 divide by 4 is 4 times 1 = 4 and 3 reamining
20 divide by 2 is exactly 10 with no remainder so 20 % 2 will be  equals to 0


7 % 4

3

In [7]:
2 ** 3

8

In [8]:
2+10*10+3

105

In [9]:
It uses BODMAS known as PEDMAS in US (Parentheses-Exponents-Multiplication-Addistion-Subtraction)


(2+10)*(10+3)

156

In [10]:
1/10+2/100+5/1000

0.125

In [11]:
0/2+0/4+1/8

0.125

In [12]:
round(2.675,2)

2.67

In [13]:
decimal(2.675)

NameError: name 'decimal' is not defined

In [14]:
from decimal import Decimal

In [15]:
Decimal(2.675)

Decimal('2.67499999999999982236431605997495353221893310546875')

In [16]:
NAMES and VARIABLES

a = 5

NameError: name 'NAMES' is not defined

In [17]:
a = 5

In [18]:
a

5

In [19]:
a=10

In [20]:
a

10

In [21]:
a+a

20

In [32]:
a= a+a

In [33]:
a

160

In [24]:
a

20

In [25]:
a

20

In [34]:
type(a)

int

In [35]:
a=30.8

In [36]:
type(a)

float

In [37]:
my_income = 100
tax rate = 0.1
my_taxes =my_income * tax_rate

SyntaxError: invalid syntax (2722071573.py, line 2)

In [38]:
my_income= 100
tax_rate=0.1
my_taxes=my_income*tax_rate

In [39]:
my_taxes

10.0

In [40]:
my_income= 8300

In [41]:
my_taxes

10.0

In [42]:
STRINGS LECTURE
Indexing and slicing

SyntaxError: invalid syntax (4036033859.py, line 1)

In [43]:
hello

NameError: name 'hello' is not defined

In [44]:
"hello"

'hello'

In [45]:
"i'm going home or can't I"

"i'm going home or can't I"

In [46]:
'hello world boys'
'hello world girls'

'hello world girls'

In [47]:
This shows ythe Use of Print, look t the example in 46 the output was just the 2nd line only but below both


print('hello world boys')
print('hello world girls')

hello world boys
hello world girls